body {
  background-image: url("/static/imgs/orangeCreamBackground.png");
}

#me {
  border-radius: 8px;
  max-width: 65%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#linkedin, #github, #google, #projectsButton {
  max-width: 20%;
  height: auto;
}

h1, span {
  font-family: 'fantasy', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}

.name {
  font-size: 60px;
  letter-spacing: 6px;
}

h3, p, h5, h6, a {
  font-weight: lighter;
  font-family: 'Courier New', Courier, monospace;
}

h5, h6 {
  color: purple;
  font-weight: 1;
}

.lang {
  max-width: 20%;
  height: auto;
}

.lang:hover {
  cursor: grab;
}

#menav {
  max-width: 40%;
  max-height: 60%;
  border-radius: 100%;
  border: 1px solid rgb(185, 185, 185);
  background-color: aliceblue;
  padding: 5px;
}

#cardBorder, #me, #projectPhoto, #projects {
  border: 2px dashed rgb(0, 0, 0);
  padding: 3px;
}

.container {
  border: 1px solid rgb(0, 0, 0);
  padding: 5px;
}

#projects {
  word-wrap: break-word;
}

#masterForm {
  font-size: 30px;
  background-color: aquamarine;
}